
body{
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.deck{
  width:100px;
  height:100px;
  border: 2px dashed black;
  align-content: center;
  margin: 10px;
  

}

.images{
  height: 100px;
  width: 100px;
  object-fit: cover;
}
