@font-face {
    font-family: 'StardewValley'; /* Give your font a name */
    src: url('./resources/fonts/StardewValley.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
  text-align: center;
  background-color: #580023;
  font-family: "StardewValley" 
  
}

h4,h1{
  margin: 0px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.deck{
  width:61px;
  height:100px;
  border: 2px solid black;
  align-content: center;
  margin: 10px;
  background-color: white;

}

.links{
  color: white;
}

#naviboard{
  background-color: #927314;
  color: white;
  height: 25px;
  font-size: 18px;
  
}


#re-play
{
  border: solid;
  background-color: rgb(125, 216, 35);
}