body{
  text-align: center;
  background-color: green;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.deck{
  width:61px;
  height:100px;
  border: 2px solid black;
  align-content: center;
  margin: 10px;
  background-color: white;

}

.links{
  color: white;
}

#naviboard{
  background-color: black;
  color: white;
  height: 25px;
  font-size: 18px;
  
}


#re-play
{
  border: solid;
  background-color: rgb(125, 216, 35);
}