body{
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.deck{
  width:100px;
  height:140px;
  border: 2px solid black;
  align-content: center;
  margin: 10px;

}

