@font-face {
    font-family: 'StardewValley'; /* Give your font a name */
    src: url('./resources/fonts/Stardew-Valley-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #fff3e6, #ffe0b3);
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "StardewValley";
}


.header {
  text-align: center;
  background-color: #ff9f43;
  color: black;
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.header h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.header h3 {
  font-size: 19.2px;
  margin-bottom: 5px;
}

.header p {
  font-size: 16px; 
}


.gameBoard {
  max-width: 900px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.deck {
  width: 100px;
  height: 140px;
  background-color: #fff8f0;
  border: 2px solid #ff9f43;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.deck:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0,0,0,0.2);
}

#re-play
{
  border: solid;
  background-color: rgb(125, 216, 35);
}