body {
  background: #ffe2e8;
  font-family: "StardewValley";
}

/* FADE IN ANIM*/
.headerFade {
  text-align: center;
  padding: 30px;
  background: #ff6b81;
  color: white;
  opacity: 0;
  animation: fadeIn 1.2s forwards;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

/* Container slide up */
.bigContainer{
  max-width: 800px;
  margin: 40px auto;
}

.ruleS {
  background: white;
  border-left: 4px solid #ff6b81;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(40px);
  animation: slideUp 0.8s ease-out forwards;
}

.ruleS:nth-child(2) { animation-delay: 0.3s; }
.ruleS:nth-child(3) { animation-delay: 0.6s; }

@keyframes slideUp {
  to {
    opacity: 1;
    
  }
}
